{% extends 'base.html' %}
{% load static %}

{% block custom_head %}
    <link rel="stylesheet" href="{% static 'store/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/style.css' %}">
{% endblock custom_head %}

{% block body %}
<div class="wrapper" style="background-image: url({% static 'store/images/bg-registration-form-1.jpg' %});">
    <div class="inner">
        <div class="image-holder">
            <img src="{% static 'store/images/registration-form-1.jpg' %}" alt="">
        </div>
        <form method="post">
            {% csrf_token %}
            <h3>جست و جو محصول مناسب شما</h3>
            {% for field in form %}
                <div class="form-wrapper">
                    {{ field.errors }}
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit">
                <i class="zmdi zmdi-arrow-right"></i>
            </button>
        </form>
    </div>
</div>
{% endblock body %}