{% load static %}
<header>
  <!-- Jumbotron -->
 <nav class="navbar navbar-expand navbar-dark bg-primary">
      <a class="navbar-brand" href="/">my web site</a>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'basket:basket_summery' %}">سبد خرید<span class="sr-only">(current)</span></a>
          </li>

        </ul>

          <form class="form-inline my-2 my-md-0 mr-auto ml-auto">
            <input class="form-control" type="text" placeholder="Search">
          </form>
      </div>
    </nav>
  <!-- Heading -->
</header>